.Home_app {
    width: 100vw;
    height: 100%;
    margin-top: 5rem;
}
.Home_left{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Home_right{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home_center{
    width: 80%;
    height: 100%;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Home_left_button,.Home_right_button{
    background-color: rgba(0, 0, 0, 0);
}


.home_container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_container_child {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.home_container_top {
    width: 100%;
    height: 60%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_container_left {
    width: 48%;
    height: 100%;
    /* background-color: pink; */
    background-image: url("https://cn.novogene.com/TemplatePage/novogene/images/a1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}

.home_container_right {
    width: 48%;
    height: 100%;
    /* background-color: green; */
    background-image: url("../../assets/img/图片27.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    color: white;

}

.home_container_bottom {
    width: 100%;
    height: 30%;
    /* background-color: blue; */
    background-image: url("../../assets/img/图片28.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.875rem;
    color: white;
}

.about_div {
    width: 100%;
    height: 60vh;
    /* background-color: #003E7A; */
    margin-top: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.25rem 0;
}

.about_child {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;

    justify-content: space-around;
}

.context {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img_div {
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill_div {
    width: 100%;
    height: 60vh;
    /* background-color: #C5D8ED; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.skill_child {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skill_left {
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
}

.skill_right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.news_div{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.875rem 0;
 
}
.news_child{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.news_dl{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.news_dl>dl{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.625rem 0;

}
.news_dl>dl>dt{
    width: 15%;
    height: 70%;
}
.news_dl>dl>dd{
    width: 70%;
    height: 100%;
}
.news_dl>dl img{
    width: 100%;
    height: 100%;
    /* width: 70%; */
    /* height: 10%; */
    border-radius: .4375rem;
}
.news_dl>dl p{
    width: 100%;
    height: 30%;
    margin-top: 0.625rem;
    margin-left: 1.25rem;
}
.news_dl>dl p:nth-child(1){
    font-size: 0.9375rem;
    color: #097CC9;
}
.news_dl>dl p:nth-child(2){
    width: 90%;
    font-size: 1.25rem;
    display: -webkit-box;
     overflow: hidden;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;

}
.news_dl>dl p:nth-child(3){
    display: flex;
    justify-content: end;
    align-items: center;
    color: #097CC9;
}


.Home_leftButton,.Home_rightButton{
    width: 3.125rem;
    height: 3.125rem;
    border: none;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
  }
  .Home_leftButton{
    left: 0;
  }
  .Home_rightButton{
    right: 0;
  }