.head_div{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

ul{
    list-style: none;
    margin-right: 1.25rem;
}
.head_left,.head_list{

    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.head_left{
    width: 40%;
    padding-left: 6.25rem;
    cursor: pointer;
}
.head_list{
    width: 60%;
    justify-content: space-around;
   font-size: .8625rem;
    
}
.head_list>li{
    cursor: pointer;
   margin: 0 .625rem;
}