.footer_div {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: .75rem;
}
a{
    text-decoration: none;
    color: #000;
}
.footer_top {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
}
.footer_top_child{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_top_left{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 1.25rem;
}
.two_code{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.two_code>img{
    width: 30%;
    /* height: 80%; */
}
.footer_top_right{
    width: 75%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right_item{
    width: 17%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 3.75rem;
    line-height: 1.25rem;
}
.title_bro{
    width: 100%;
    text-align: center;
    font-size: .8125rem;
    margin: .3125rem 0;
}
.title{
    width: 100%;
    text-align: center;
    padding: 1.25rem 0;
    font-size: .9375rem;
}
.footer_bottom {
    width: 100%;
    height: 15%;
    background-color: #bfbcbc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}